// main colors {
//     green: #248f47;
//     bg-container: rgba(255, 230, 204, 0.8);

// }

.root {
    background-image: url(../assets/bg-home.jpg);
    background-size: cover;
    height: 100vh;
    text-align: -webkit-center;
}

.container {
    background-color: white;
    padding: 2em 1em 1em;
    margin-top: 10vh;
    border-radius: 30px;
    max-width: 300px;
    min-height: 350px;
    display: grid;
    &__expanded {
        max-width: 600px;
    }
    .registerBtn {
        color: black;
    }
}

.registerForm-off {
    display: none;
    transition-property: display;
    transition-duration: 5s;
}

.registerForm-on {
    display: block;
}

.topnav {
    overflow: hidden;
    background-color:white;
    padding: 0px 50px;
    position: sticky;
    display: flex;
    max-height: 69px;
    .navSpaceBetween {
        flex-grow: 1;
    }
}
  
  .navLink {
    padding: 15px;
    margin: 0px 20px;
    text-decoration: none;
  }
  
  .navLink.active {
    color: black;
    display: list-item;
    list-style: inside;
  }
